@font-face {
  font-family: "Rounded Mplus 1c";
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Rounded Mplus 1c";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Rounded Mplus 1c";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rounded Mplus 1c";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Rounded Mplus 1c";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Bold.ttf") format("truetype");
}
